html{
    font-size: 62.5%; /* default size in browser=16px * 62.5= 10px = 1rem*/
    box-sizing: border-box;
}

body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}
.header-links a{
    color: #ffffff;
    text-decoration: none;
}
.header-links a:hover{
    color: #F59401;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #F59401;
}
/* Home Screen */
.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /*make the page responsive and the pictures don't stay on 1 row but they take another row */
}
.products li {
    list-style: none;
    padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-name {
    font-size: 2rem;
    font-weight: bold;
}
.product-brand{
    font-size: 1.2rem;
    color: grey;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-image {
    max-width: 34rem;
    max-height: 34rem;
}
.product-rating{
    margin-bottom: 1rem;
}

/* Sidebar */

.brand button {
    font-size: 2.8rem;
    padding: .5rem 0.5rem;
    background: none;
    border: tomato;
    color: white;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    transform: translate(-30rem);
    width: 30rem;
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar-close-button{
    border-radius: 50%;
    border: .1rem black solid;
    width: 3rem;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    cursor: pointer;
    position: absolute;
    right:.5rem;
    top: 1.5rem;
}
.sidebar li{
    list-style: none;
    padding-top: .75rem;
}
.sidebar h3{
    margin-left: 3.8rem;
}
